aclocal.m4
autom4te.cache/
buggy.h
compile
config.*
config.guess
config.h.in
config.log
config.status
config.sub
configure
copying.h
depcomp
.deps/
INSTALL
install-sh
Makefile
Makefile.in
mdate-sh
missing
moon-buggy
moon-buggy.6
moon-buggy.info
*.o
posting
schotter
stamp-h1
stamp-vti
texinfo.tex
version.texi
